/*
** GLOBAL
*/

body{
    font-family: arial;
    box-sizing: border-box;
    padding:0% 10%;
}

h2{
    margin:2%;
    font-size: 35px;
    font-weight: bold;
}

.estructura {
    display: flex;
    justify-content: space-between;
    margin: 2% 10% 2% 10%;
}


/*
*** INICIO
*/

.inicio{
    position: relative;
}

.inicio img {
    display: block;
    width: 100%;
}

.inicio h1 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    color:white;
    font-weight: bold;
    font-size: 62px;
    top: 20px;
    width: 100vw;
    text-align: center;
}

/*Revisar*/
.inicio h2 { 
    position: absolute;
    font-family: Helvetica, sans-serif;
    color:white;
    background-color: rgb(88, 167, 247,0.4);
    border-radius: 10px;
    padding: 20px;
    bottom: 10%;
    width: 350px;
    left: 10%;
}


/*
*** SOBREMI
*/



.sobremi {
    background-color: mediumpurple;
    padding: 30px ;
}



.sobremi h2 {
    text-align: center;
    color: darkblue;
}


.sobremi p {
    text-align: center;
}


.sobremi a {
    text-decoration: none;
    margin-left: 10px;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    background-color: violet;
    border-radius: 6px;
}

/*
*** SKILLS
*/


.misskills {
    background-color: blueviolet;
    padding: 20px;
}


.misskills h2 {
    text-align: center;
    color: chartreuse;
}


.columna{
    width: 50%;
    color: white;
    margin: 0 10%;
}


.fila1 {
    background-color: white;
    height: 10px;
    width: 100%;
    margin: 5% 0%;
    border-radius: 6px;
}


.fila2 {
    background-color: turquoise;
    height: 10px;
    width: 50%;
    border-radius: 6px;
}

/*
*** PORTAFOLIO
*/


.portafolio{
    background-color: goldenrod;
    padding: 20px;
}


.portafolio h2 {
    text-align: center;
    color: seagreen;
}

.portafolio figure{
    margin: 10px;
}

.portafolio img{
    width: 100%;
}


/*
*** CLIENTES
*/


.clientes{
    background-color: rgb(54, 52, 52);
    padding: 20px;
}


.clientes h2 {
    text-align: center;
    color: greenyellow;
}

.clientes figure{
    margin: 10px;
}

.clientes img{
    width: 100%;
}


/*
*** CONTACTO
*/


.contacto{
    background-color: rgb(17, 101, 122);
    padding: 20px;
}


.contacto h2 {
    text-align: center;
    color: red;
}

.form-enviar {
    display: flex;
    justify-content: space-between;
    margin: 2% 10% 2% 10%;
}

.form-enviar input{
    width: 45%;
}

.form-enviar textarea{
    width: 100%;
}

.button-enviar {
    text-decoration: none;
    margin-left: 45%;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    background-color: rgb(17, 55, 73);
    border-radius: 6px;
}


/*
**VALIDACION
*/

input:focus,
textarea:focus{
 background-color: rgb(214, 214, 214);   
}

button:hover{
    color: white;
    background-color: rgb(34, 76, 95);
}